:root {
    --main-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --additional-text-color: #ffffff;
} 

/* Основные цвета текста */
.title-text {
    color: var(--title-text-color);
}

.main-text {
    color: var(--main-text-color)
}

.accent-color {
    color: var(--accent-color);
}

.additional-color {
    color: var(--additional-text-color);
}


/* Общие стили */
body {
    text-decoration: none;
}

ul {
    list-style: none;
}



/*контейнер заказ услуги */
.background {
    background-color: #2F303A;
    color: var(--additional-text-color);
}

.order {
    background-color: #2196F3;
    color: var(--additional-text-color);
}

/* контейнер Наша команда */
.our-team {
    background-color: #F5F4FA;
}

/* Подсветка ссылок и кнопок */

.activity:hover, .activity:active {
    color: var(--accent-color);
}

/* подвал */
footer {
    background-color: #2F303A;
}

.footer-text {
    color: var(--additional-text-color);
}













































