:root {
    --main-color: #757575;
    --title-color: #212121;
    --accent-color: #2196F3;
    --additional-color: #ffffff;
    --background-color: #E5E5E5;
    --background-team: #F5F4FA;
    --background-hero: #2F303A;
    --background-hover: #188CE8;
    --logo-color: #000000;
} 

/* Общие классы */
.logo {
    color: var(--accent-color);
    text-decoration: none;
}
 li {
    list-style: none;
}

.link {
    color: var(--title-color);
    text-decoration: none;
}

.link:hover {
    color: var(--accent-color);
}

.link:focus {
    color: var(--accent-color);
}

.contact-link {
    color: var(--main-color);
    text-decoration: none;
}

.contact-link:hover {
    color: var(--accent-color);
}

.contact-link:focus {
    color: var(--accent-color);
}

.title {
    color: var(--title-color);
}

.text {
    color: var(--main-color);
}
/* шапка */
.header-logo {
    color: var(--logo-color);
}


/* Герой */
.hero {
    background-color: var(--background-hero);
}

.button {
    background-color: var(--accent-color);
}

.button:hover, .button:focus {
    background-color: var(--background-hover);
}

.hero-title {
    color: var(--additional-color);
}

/* Подвал  */
footer {
    background-color: var(--background-hero);
}

.footer-logo {
    color: var(--additional-color);
}

.footer-text {
    color: var(--additional-color);
}

footer > .contact-link {
    color: rgba(255, 255, 255, 0.6);;
    text-decoration: none;
}






























