:root {
    --main-color: #757575;
    --title-color: #212121;
    --accent-color: #2196F3;
    --additional-color: #ffffff;
    --background-team: #F5F4FA;
    --background-hero: #2F303A;
    --background-hover: #188CE8;
    --logo-color: #000000;
} 




/* ОБЩИЕ КЛАССЫ */
 li {
    list-style: none;
}
.link {                         
    color: var(--title-color);
    text-decoration: none;
}
.link:hover, .link:focus{
    color: var(--accent-color);
}
.contact-link { 
    color: var(--main-color);
    text-decoration: none;
}
.title {
    color: var(--title-color);
    text-decoration: none;
}
.text {
    color: var(--main-color);
    text-decoration: none;
}


/* ШАПКА */
.logo {
    color: var(--accent-color);
    text-decoration: none;
}
.header-logo {
    color: var(--logo-color);
}


/* ГЕРОЙ */
.hero {
    background-color: var(--background-hero);
}

.button {
    background-color: var(--accent-color);
}

.button:hover, .button:focus {
    background-color: var(--background-hover);
}

.hero-title {
    color: var(--additional-color);
}
/* НАША КОМАНДА */
.team {
    background-color: var(--background-team);
}

/* ПОРТФОЛИО */
.contact-link:hover, .contact-link:focus {
    color: var(--accent-color);
}
.link-button:hover, .link-button:focus {
    background-color: var(--accent-color);
    color: var(--additional-color);
}


/* ПОДВАЛ  */
footer {
    background-color: var(--background-hero);
}
.footer-logo {
    color: var(--additional-color);
}
.footer-text {
    color: var(--additional-color);
}
.footer-link {
    color: rgba(255, 255, 255, 0.6);;
    text-decoration: none;
}

.footer-link:hover, .footer-link:focus {
    color: var(--accent-color);
}



            

























