.header {
    border-bottom: 1px solid #ECECEC
}

.header__wrapper {
    display: flex;
}

.header__nav {
    display: flex;
    padding-left: 0;
    align-items: center;
}

.header__menu {
    display: none;
    @media screen and (min-width: $tablet) {
        display: flex;
        padding-left: 0;
        align-items: center;
        margin-left: 84px;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        padding-left: 0;
        align-items: center;
    }
    
}


.header__logo {
    text-decoration: none;
    color: $logo-color;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    padding-top: 16px;
    padding-bottom: 16px;
    

    @media screen and (min-width: $tablet) {
        padding-left: 0;
    }

    @media screen and (min-width: $desktop) {
        margin-right: 93px;
    }
}
/* Навигация */

.header__item {
    position: relative;
    list-style: none;
    
    padding-top: 32px;
    padding-bottom: 32px;
}

.header__item + .header__item {
    margin-left: 50px;
}

.header__link {
    text-decoration: none;

    padding-top: 32px;
    padding-bottom: 32px;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: $title-color;
    @include transition1(color);
    
    &:hover, 
    &:focus {
    color: $accent-color;
    }  
}

.header__link--current {
    color: $accent-color;
}

.logo__accent {
    color: $accent-color;
}


.header__link--underline::after {
    position: absolute;
    width: 100%;
    bottom: 0;
    content: " ";
    
    border: 2px solid $accent-color;
    background-color: $accent-color;
    border-radius: 50px;
}


/* Контакты */
.contacts__wrapper {
    display: none;
    
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 65px;
    }      

    @media screen and (min-width: $desktop) {
        display: flex;
        margin-left: auto;
        padding-left: 0;
        align-items: center;
        flex-direction: row;
    }
    
}

.contacts__item:not(:last-child) {
    padding-bottom: 10px;
    @media screen and (min-width: $mobile) {
        
    }

    @media screen and (min-width: $tablet) {
        
    }

    @media screen and (min-width: $desktop) {
        margin-right: 50px;
        padding-bottom: 0;
    }
}

.contacts__link {
    display: flex;
    align-items: center;
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;

    line-height: 16px;
    letter-spacing: 0.02em;

    color: $main-color;

    @include transition2(color, fill);
    
    &:hover,
    &:focus {
        fill: $accent-color;
        color: $accent-color;
    }
}

.contacts__img {
    margin-right: 10px;
}

// Мобильная кнопка
.js-open-menu {
    margin-left: 190px;
    background-color: white;
    @media screen and (min-width: $tablet) {
        display: none;
    }
}
