.portfolio__title {
    display: none;
}

.portfolio__filter {
    display: flex;
    justify-content:center;
    margin-bottom: 50px; 
    padding-left: 0; 
    
}

.portfolio__button {
    padding: 6px 22px;
    border-radius: 4px;
    border: none;
    background-color: $background-team;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    @include transition2(background-color, color);  
}

.portfolio__button {
    margin-left: 8px;
}

.contacts__link:hover, 
.contacts__link:focus {
    color: $accent-color;
}

.portfolio__button:hover, 
.portfolio__button:focus {
    background-color: $accent-color;
    color: $additional-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.portfolio__filter{
    list-style: none;   
}

.portfolio__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-right: -30px;
    margin-bottom: -30px;
}

.portfolio__item {
    width: 370px;
    margin-bottom: 30px;
    margin-right: 30px;
    flex-basis: calc((100% - 90px) / 3); 
    &:focus,
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
                    0px 4px 4px rgba(0, 0, 0, 0.06), 
                    1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio__border {
    padding: 20px 24px;
    box-sizing: border-box;
    border-left: 1px solid $portfolio-border;
    border-right: 1px solid $portfolio-border;
    border-bottom: 1px solid $portfolio-border;
}

.portfolio__link {
    text-decoration: none;
}

.portfolio__subtitle {
    margin-bottom: 4px;

    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: $title-color;
}

.portfolio__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: $main-color;
}       


/* ПОРТФОЛИО ОВЕРЛЕЙ */

.portfolio__thumb {
    position: relative;
    overflow: hidden;
}

.portfolio__thumb::before {
    position: absolute;
    content: "";
    height: 101%;
    width: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    

    transform: translateY(100%);
    @include transition1(transform);
}

.portfolio__overlay:hover .portfolio__thumb::before {
    transform: translateY(0%);
    
}
.portfolio__img {
    display: block;
}


.portfolio__label {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(100%);
    @include transition1(transform);

    padding: 63px 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}


.portfolio__overlay:hover .portfolio__label {
    transform: translateY(0);
   
}
