.menu-container {
    @media screen and (max-width: 767px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw   ;
        height: 100vh;
        margin-left: auto;
        margin-right: auto;
        transform: translatex(100%);
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0.02em;
        color: $title-color;
        background-color: rgb(236, 224, 221);
    }

    @media screen and (min-width: $tablet) {
        display: none;
    }

}

.menu-container.is-open {
    transform: translatex(0);
}

.menu-toggle {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    fill: $title-color;
    &:hover,
    &:focus {
        fill: $accent-color;
    }
}

.js-close-menu {
    margin-left: 450px;

}

.mobile-phone {
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: $accent-color;
}

.mobile-mail {

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
}


.mobile-social {
    display: flex;
    color: $accent-color;
}

.mobile-instagram {
    padding-right: 10px;
    border-right: 1px solid $title-color;
}

.mobile-Twitter {
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid $title-color;
}

.mobile-Facebook {
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid $title-color;
}

.mobile-Linkedin {
    padding-left: 10px;
}