
.features h2 {
    display: none;
}

.features__content {
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }

    @media screen and (min-width: $desktop) {
       flex-wrap: nowrap;
    }
}

.features__item {
    @media screen and (min-width: $tablet) {
        margin: 15px;
        width: calc((100% - 60px) / 2);
    }

    @media screen and (min-width: $desktop) {
        
    }
}


.features__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-team;
    border-radius: 4px;
    height: 120px;
    margin-bottom: 30px;
    
    @media screen and (min-width: $tablet) {
        
        
    }

    @media screen and (min-width: $desktop) {
    width: 270px;
    
    }
}


.features__label {
    @media screen and (min-width: $desktop) {
        width: 270px;
        margin-bottom: 0;
    }
}

.features__title {
    // width: 270px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    color: $title-color; 

    @media screen and (min-width: $tablet) {
        text-align: left;
      
        margin-bottom: 10px;
    }

    @media screen and (min-width: $desktop) {
        text-align: left;
        
    }
}

.features__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
