.features h2 {
    display: none;
}

.features__content {
    @media screen and (min-width: $mobile) {
    padding-top: 30px;
    }

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 94px;
    padding-bottom: 0;
    }
}

@media screen and (min-width: $mobile) {
    .features__item {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (min-width: $tablet) {
    .features__item {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media screen and (min-width: $desktop) {
    .features__item {
        margin-left: 0;
        margin-right: 0;
    }
}


.features__item + .features__item {
    @media screen and (min-width: $desktop) {
        margin-left: 30px;
    }
}

.features__thumb {
    @media screen and (min-width: $mobile) {
        background-color: $background-team;
        border-radius: 4px;
        width: 450px;
        height: 120px;
        margin-bottom: 30px;
    }

    @media screen and (min-width: $tablet) {
        width: 354px;
        
    }

    @media screen and (min-width: $desktop) {
    width: 270px;
    }
}

.features__icon {
    @media screen and (min-width: $mobile) {
        margin: 25px 190px;
    }

    @media screen and (min-width: $tablet) {
        margin: 25px 142px;
    }

    @media screen and (min-width: $desktop) {
        margin: 25px 100px;
    }
    
}

.features__label {
    @media screen and (min-width: $mobile) {
        width: 450px;
    }

    @media screen and (min-width: $tablet) {
        width: 354px;
        margin-bottom: 30px;
    }

    @media screen and (min-width: $desktop) {
        width: 270px;
        margin-bottom: 0;
    }
}

.features__title {
    @media screen and (min-width: $mobile) {
    width: 270px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    color: $title-color;    
    }

    @media screen and (min-width: $tablet) {
        text-align: left;
        margin: 0;
        margin-bottom: 10px;
    }

    @media screen and (min-width: $desktop) {
        text-align: left;
        margin-bottom: 0;
    }
}

.features__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
