.social {
    display: flex;
    justify-content: center;
}

 .social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%; 
    fill: $social-link-img;
    
    @include transition2(background-color, fill);

    &:hover,
    &:focus {
        background-color: $accent-color;
        fill: $additional-color;
    }
    
    
    
    
}
