
.clients__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;
    margin-bottom: 30px;

    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;
    }   
}

.clients__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
}  

.clients__item {  
    margin: 15px;
    width: calc((100% - 60px) / 2);

    @media screen and (min-width: $tablet) {
        width: calc((100% - 90px) / 3);
        width: 226px;
    }

    @media screen and (min-width: $desktop) {
        width: calc((100% - 180px) / 6);
        width: 170px;
    }
}
      
.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 92px;

    border-radius: 4px;
    border: 1px solid $social-link-img;
    fill: $social-link-img;

    @include transition2(border, fill);
    
    &:focus,
    &:hover {
        fill: $accent-color;
        border: 1px solid $accent-color;
    }       
}
