/*МОДАЛЬНОЕ ОКНО */
.modal__backdrop {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    @include transition1(opacity);
}

.modal__backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal__backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
    
}

.modal {
    position: absolute;
    display: inline-block;
    padding: 40px;
    width: 100%;
    max-width: 450px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: $additional-color; 
    border-radius: 4px;
    @include transition1(transform);

    @media screen and (min-width: $desktop) {
        max-width: 528px;
    }
}
    
.close__button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $additional-color;
    border-radius: 50%;
}

.close__button:hover, .close__button:focus {
    fill: $accent-color;
    outline: none;
    border: 1px solid $accent-color;
    @include transition2(fill, border);
}








/* ФОРМЫ МОДАЛЬНОГО ОКНА */
.modal__form { 
    display: flex;
    flex-direction: column;
}



.modal__title {
    margin-bottom: 12px;
    color: $title-color;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
}

.input-form a {
    color: $accent-color;
}

.modal__field:not(:last-child){
    position: relative;
    margin-bottom: 10px; 
}

.modal__icon {
    position: absolute;
    left: 18px;
    top: 32px;
}


.modal__label {
    display: block;
    padding: 0;
    margin-bottom: 4px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
}

.modal__input {
    height: 40px;
    width: 100%;
    max-width: 370px;
    padding: 11px 12px 11px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    @media screen and (min-width: $desktop) {
        max-width: 448px;
    }
    
    &:focus {
        border: 1px solid $accent-color;
        outline: none;
    }

    &:focus + .modal__icon {
        fill: $accent-color;
    }
}

.modal__textarea {
    padding: 12px 14px;
    width: 100%;
    max-width: 370px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none; 

    @media screen and (min-width: $desktop) {
        width: 100%;
        max-width: 448px;
    }   
}

.modal__textarea::placeholder {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal__textarea:focus {
    border: 1px solid $accent-color;
    outline: none;
}

.modal__checkbox {
    position: relative;
    margin-bottom: 30px;
    padding-left: 23px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: #757575; 

    @media screen and (min-width: $tablet) {
        
    }

    @media screen and (min-width: $desktop) {
        padding-left: 40px;
        font-size: 14px;
        line-height: 24px;
    }
    
}

.modal__check {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.modal__checker {
    position: absolute;
    width: 16px;
    height: 15px;
    left: 0;
    top: -1px;
    background-image: url(../img/border.svg);


    @media screen and (min-width: $desktop) {
        width: 16px;
        height: 15px;
        left: 14px;
        top: 4px;
    }
    
}

.modal__check:checked + .modal__checker {
    position: absolute;
    width: 16px;
    height: 15px;
    left: 0;
    top: -1px;
    background-image: url(../img/check.svg);

    @media screen and (min-width: $tablet) {
        
    }

    @media screen and (min-width: $desktop) {
        left: 14px;
        top: 4px;
    }
    
}

.modal__link {
    color: $accent-color;
}

.modal__submit {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    background-color: $accent-color;
    color: $additional-color;
    border: none;
    border-radius: 4px;
}   


.modal__submit:focus {
    outline: none;
    background-color: $background-hover;
}

