/* ПОДВАЛ  */
.footer {
    background-color: $background-hero;
    padding-top: 60px;
    padding-bottom: 60px;
}

 .footer__wrapper {
     @media screen and (max-width: $mobile) {
           margin-left: auto;
           margin-right: auto;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        align-items: flex-start;
    }

 }

 .footer__container {
     @media screen and (min-width: $mobile) {
        display: block;
    }

    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
        margin-left: 82px;
        margin-right: 82px;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        align-items: start;
        margin: 0;
        
    }
   
 }

.footer__logo {
    @media screen and (min-width: $mobile) {
        text-decoration: none;
        color: $additional-color;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
    }

    @media screen and (min-width: $desktop) {
        display: block;
        margin-right: 93px;
        margin-bottom: 20px;

        
    }
    
}


.footer__address {
    font-style: normal
}


.footer__text {
    margin-bottom: 9px;

    color: $additional-color;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.footer__contacts {
    @media screen and (min-width: $mobile) {
        text-align: center;
        margin-bottom: 60px;
    }

    @media screen and (min-width: $desktop) {
        width: 230px;
        text-align: left;
    }
}
.footer__link {
    display: block;
    margin-top: 9px;
    list-style: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #ffffff99;
    text-decoration: none;

    @include transition1(color);
}

.footer__link:hover, .footer__link:focus {
    color: $accent-color;
}









/* ПОДВАЛ ИКОНКИ СОЦСЕТЕЙ */

.footer__subtitle {
    @media screen and (min-width: $mobile) {
        text-align: center;
        display: block;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;  
        color: $additional-color;
        padding-bottom: 20px;
    }
    @media screen and (min-width: $tablet) {
        margin-top: 5px;
}
    @media screen and (min-width: $desktop) {
        text-align: left;
        
        
    }
}

.footer__social {
    @media screen and (min-width: $mobile) {
        text-align: center;
        margin-bottom: 60px;
        
    }

    @media screen and (min-width: $tablet) {
        margin-bottom: 0;
    }

    @media screen and (min-width: $desktop) {
        margin-left: 70px;
    }     
}


.social__link--footer {
    background: rgba(255, 255, 255, 0.1);
    fill: $additional-color;
}



.social li:not(:last-child) {
    margin-right: 10px;
}








/* ПОДВАЛ ТЕЛЕГРАМ */
.footer__subscribe {
    @media screen and (min-width: $mobile) {
        text-align: center;
    }
    
    @media screen and (min-width: $desktop) {
        margin-left: 93px;
        text-align: left;
    }       
}

.footer__form {
    @media screen and (max-width: $mobile) {
       
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        flex-direction: row;
    }
    
    
}

.footer__input {
    display: block;
    @media screen and (min-width: $mobile) {
        width: 450px;
        height: 50px;
        padding-left: 20px;
        border-radius: 4px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        color: $additional-color;
        background-color: $background-hero;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
       
    }

    @media screen and (min-width: $tablet) {
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: $desktop) {
        padding-left: 16px;
        margin-right: 12px;
        width: 358px;
    }
    
    &::placeholder {
    font-weight: normal;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    }
}


.footer__button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    padding: 10px 62px 10px 29px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.06em;
    
    background-color: $accent-color;
    color: $additional-color;
    
}

.footer__icon {
    display: block;
    position: absolute;
    top: 13px;
    right: 28px;
    fill: $additional-color;
}

